body {
    height: 100vh;
    background: #F3F7E0;
}

main {
    min-height: 74.5vh;
}

/*.main-content {*/
/*    padding: 0 0 5%;*/
/*}*/

.container {
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1%;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
}