{% extends "base.html" %}

{% block title %}Добавить модель{% endblock %}

{% block content %}
    <main>

        {% load crispy_forms_tags %}
        <div class="container h-auto rounded py-3 px-4">

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="author" value="{{ user }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Добавить модель</button>
            </form>
        </div>
    </main>
{% endblock %}