{% extends "wrapper" %}
{% block title %}Авторы{% endblock %}

{% block content %}
    <main>
        <div class="container pt-5 text-center rounded overflow-hidden">
            <ul id="authors">
                {% for author in authors %}
                    <li>
                        <div class="container">
                            <div class="author mb-5">
                                <div class="row">
                                    <div class="avatar col-2">
                                        <img src="{{ userAvatarUri( author.getAvatarPath() ) }}" width="100%"
                                             class="rounded float-left border-light bg-light "
                                             alt="@{{ author.getNickname() }}_avatar">
                                    </div>
                                    <div class="author-name text-center col-10 pt-4">
                                        {#                                            <a href="{{ fullUri("/user?id= {{ author.getId() }}") }}">#}
                                        <h1>{{ author.getNickname() }}</h1>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <script>

        $(document).ready(function () {
            let loading = false;
            let page = 1;

            $(window).on('scroll', function () {
                let lastAuthor = $("li").last();
                if ((($(this).scrollTop() + $(window).height()) >= (lastAuthor.offset().top + 300)) && !loading) {
                    loadAuthors();
                    page++;
                }
            });

            function loadAuthors() {
                $.ajax({
                    url: "/nextGroup?page=" + page,
                    type: "GET",
                    dataType: "json",
                    beforeSend: function () {
                        loading = true;
                    },
                    success: function (response) {
                        console.log("success");
                        console.log(response);
                        $.each(response, function () {
                                $("#authors").append(
                                    "<li>\n" +
                                    "    <div class=\"container\">\n" +
                                    "        <div class=\"author mb-5\">\n" +
                                    "            <div class=\"row\">\n" +
                                    "                <div class=\"avatar col-2\">\n" +
                                    "                   <img src=\"user-data/images/avatars/default.png\" width=\"100%\"\n" +
                                    "                         class=\"rounded float-left border-light bg-light \"\n" +
                                    "                         alt=\"@"+this+"\">\n" +
                                    "               </div>\n" +
                                    "               <div class=\"author-name text-center col-10 pt-4\">\n" +
                                    "                       <h1>" + this + "</h1>\n" +
                                    "                     </a>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "        </div>\n" +
                                    "     </div>\n" +
                                    "</li>\n"

                                );
                            });
                        loading = false;
                    }
                })
            }
        });

    </script>
{% endblock %}