{% extends "base.html" %}

{% block title %} Редактирование профиля {% endblock %}

{% block content %}
    <main>
    {% load crispy_forms_tags %}

        <div class="container w-25 py-3 px-4" id="edit_profile_form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="Update" class="btn btn-primary mt-2">Редактировать</button>
            </form>
        </div>
    </main>
{% endblock %}