{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block header %}
    {#    <script src="/js/Babylon/babylon.max.js"></script>#}
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
{% endblock %}


{% block content %}
    <script>
        window.addEventListener('DOMContentLoaded', function () {

            var canvas = document.getElementById("canvas"); // Get the canvas element
            var engine = new BABYLON.Engine(canvas, true); // Generate the BABYLON 3D engine

            let createScene = function () {

                // Create the scene space
                var scene = new BABYLON.Scene(engine);
                engine.enableOfflineSupport = false;
                scene.clearColor = new BABYLON.Color3(0.95, 0.96, 0.87);

                // Add a camera to the scene and attach it to the canvas
                var camera = new BABYLON.ArcRotateCamera("Camera", Math.PI / 2, Math.PI / 2, 2, new BABYLON.Vector3(0, 0, 0), scene);
                camera.setPosition(new BABYLON.Vector3(7, 1, 0));
                camera.attachControl(canvas, true);
                camera.wheelPrecision = 60;


                // Add lights to the scene
                var light = new BABYLON.HemisphericLight("pointLight", new BABYLON.Vector3(2, 1, 2), scene);
                var light = new BABYLON.HemisphericLight("pointLight", new BABYLON.Vector3(2, 1, -2), scene);
                BABYLON.SceneLoader.ImportMesh("", "/media/user-data/models/", "500.babylon", scene);

                return scene;
            };

            //Call the createScene function
            let scene = createScene();

            // Register a render loop to repeatedly render the scene
            engine.runRenderLoop(function () {
                scene.render();
            });

            // Watch for browser/canvas resize events
            window.addEventListener("resize", function () {
                engine.resize();
            });

        });


    </script>
    <script>
        $("#canvas").bind("wheel mousewheel", function (e) {
            e.preventDefault()
        });
    </script>

    <main>
        <div class="model-block p-0" style="height: 76vh;">
            <canvas class="align-content-center w-100 h-100 pt-0 pb-0" id="canvas"></canvas>
        </div>
    </main>

{% endblock %}